<div class="card border-success">
  <img src="https://api.qrserver.com/v1/create-qr-code/?data=REPLACE+ME&amp;size=300x300" class="card-img-top" alt="QR Code">
  <div class="card-body">
    <h5 class="card-title text-success">Your QR code is ready!</h5>
  </div>
</div>